<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Less_DB_2.Properties.Settings.TSOPPTESTConnectionString"
            connectionString="Data Source=tsopp.database.windows.net;Initial Catalog=TSOPPTEST;Persist Security Info=True;User ID=tsoppadmin;Password=Geirby1799"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>